@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Quattrocento Sans", sans-serif;
	background: linear-gradient(#4A426B, #47C6E8);
}
#title {
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
}
#survey-form {
	background-color: #eee;
    width: 60%;
    height: auto;
    margin: 0 auto 2rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 5px;
}
#description {
	margin-top: 3rem;
	margin-bottom: 2rem;
}
.form-row {
    display: grid;
    grid-template-columns: 50% 40%;
    margin: 1.5rem;
}
#name-label, #email-label, 
#number-label, #dropdown-label, .form-question {
    margin-top: 0.2rem;
    margin-right: 1rem;
    padding: 0.4rem;
    text-align: right;
}
#name, #email, #number, #dropdown {
    width: 100%;
    height: 30px;
    margin: 0.2rem;
    padding: 0.4rem;
    line-height: 1.6;
    border: 1px solid rgb(183, 199, 181);
    border-radius: 4px;
}
#dropdown {
    width: 60%;
}
.form-option {
    margin-top: 0.5rem;
    text-align: left;
} 
input[type="radio"], input[type="checkbox"] {
    margin-bottom: 1rem;
}
textarea {
    height: 100px;
}
#comments {
	margin: 0.5rem;
}
#submit {
    margin-top: 2.0rem;
    margin-bottom: 1rem;
    padding: 1rem 6rem;
    border: 1px solid #4A426B;
    border-radius: 5px;
    font-weight: bold;
    background-color: #4A426B;
    color: #fff;
    font-family: inherit;
    font-size: 1.8rem;
}

#submit:hover {
    background-color: #3E0F59;
    cursor: pointer;
}

@media (max-width: 768px) {
    #survey-form {
        width: 70%;
    }
    .form-row {
        grid-template-columns: 100%;
    }
    #name-label, #email-label, 
    #number-label, #dropdown-label,
    .form-question {
        text-align: left
    }
    #dropdown {
        width: 100%;
    }
}